.MainTitle{
    display: inline-block;
    margin-right: 0.7%;
}

.LinkWiki{
    display: inline-block;
    margin-right: 0.7%;
    color: var(--slightly-yellow-color);
}

.LinkWiki:visited {
    color: var(--slightly-orange-color);
}

.LinkWiki:hover {
    color: var(--yellow-color);
}