/* Variables */

:root {
    --darkest-color: #1f1d33;
    --middle-color: #31334b;
    --lightest-color: #7f91a3;
    --highlight-color: #ffc400;
    --button-highlight-color: #f4aa21;

    --link-color: #6f6fca;
    --link-visited-color: #8459a1;
    --link-hover-color: #438bb8;
}

body {
    background-color: var(--darkest-color);
    color: var(--lightest-color);
    font-family: "Noto Sans", "sans-serif";
    padding-left: 1em;
}

h1 {
    color: var(--highlight-color);
    margin-bottom: 0em;
}

h2 {
    margin-top: 0em;
    font-weight: normal;
}

input, select, textarea, button {
    background-color: var(--lightest-color);
    color: var(--darkest-color);
    border-radius: 0.5em;
    border-style: solid;
    border-color: var(--middle-color);
    margin: 0.25em;
}

button:hover {
    background-color: var(--link-hover-color);
}

::placeholder {
    color: var(--darkest-color);
    opacity: 0.7;
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--link-visited-color);
}

a:hover {
    color: var(--link-hover-color);
}

/* Scrollbar management */
::-webkit-scrollbar {
    width: 0.3em;
    height:0.3em;
  }
  ::-webkit-scrollbar-track {
    background: none;
    margin: 0.75em;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--link-color);
    border-radius: 1em;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--link-hover-color);
  }

  .small-box {
    position: fixed;
    left: 50%;
    top: 3em;
    transform: translateX(-50%);
    border-style: solid;
    border-color: var(--lightest-color);
    border-radius: 0.75em;
    padding: 1em;
    background-color: var(--middle-color);
    box-shadow: -0.25em 0.25em 1em 0.5em #05011746;
  }

  .flex{
    display: flex;
  }

  .flex-down{
    display: flex;
    flex-direction: column;
  }

  .bottom {
    position:absolute;
    bottom: 1.75em;
  }

  .bottom-near {
    position: absolute;
    bottom: 1em;
  }

  .top {
    position:absolute;
    top: 1.75em;
  }

  .align-right {
    text-align: right;
  }

  .float-right {
    float: right;
  }

  .right {
    position:absolute;
    right: 0.5em;
  }

  .text-medium{
    font-size: medium;
  }

  .text-small{
    font-size: small;
  }

  .tabulate{
    text-indent: 0.75em;
  }

  .append{
    margin-left: +1em;
  }

  .highlight{
    color: var(--highlight-color);
  }

  .button-highlight{
    background-color: var(--button-highlight-color);
  }

  .button-highlight:hover{
    background-color: var(--highlight-color);
  }

  .error-style{
    font-size: small;
    color:red;
  }