/* Variables */

:root {
    --darkest-color: #1f1d33;
    --middle-color: #31334b;
    --lightest-color: #7f91a3;
    --highlight-color: #ffc400;
    --button-highlight-color: #f4aa21;

    --link-color: rgb(128, 128, 255);
    --link-visited-color: #cf86ff;
    --link-hover-color: #4ea0d4;
}

body {
    background-color: var(--darkest-color);
    color: var(--lightest-color);
    font-family: "Noto Sans", "sans-serif";
    padding-left: 1vw;
}

h1 {
    color: var(--highlight-color);
    margin-bottom: 0vw;
}

h2 {
    margin-top: 0vw;
    font-weight: normal;
}

input, select, textarea, button {
    background-color: var(--lightest-color);
    color: var(--darkest-color);
    border-radius: 0.5vw;
    border-style: solid;
    border-color: var(--middle-color);
    margin: 0.25vw;
}

textarea{
  font-family: "Noto Sans", "sans-serif";
  padding: 0.75vw;
  resize: none;
}

button:hover {
    background-color: var(--link-hover-color);
}

::placeholder {
    color: var(--darkest-color);
    opacity: 0.7;
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--link-visited-color);
}

a:hover {
    color: var(--link-hover-color);
}

ul{
  list-style: none;
}

/* Scrollbar management */
::-webkit-scrollbar {
    width: 0.3vw;
    height:0.3vw;
  }
  ::-webkit-scrollbar-track {
    background: none;
    margin: 1vw;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--link-color);
    border-radius: 1em;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--link-hover-color);
  }

  .small-box {
    position: fixed;
    left: 50%;
    top: 3vw;
    transform: translateX(-50%);
    border-style: solid;
    border-color: var(--lightest-color);
    border-radius: 0.75vw;
    padding: 1vw;
    background-color: var(--middle-color);
    box-shadow: -0.25vw 0.25vw 1vw 0.5vw #05011746;
  }

  .small-box-content {
    margin: 2vw;
    width: 40%;
    border-radius: 0.75vw;
    padding: 1vw;
    background-color: var(--middle-color);
    box-shadow: -0.25vw 0.25vw 1vw 0.5vw #05011746;
  }

  .flex{
    display: flex;
  }

  .flex-spaced{
    display: flex;
    justify-content: space-between;
  }

  .flex-down{
    display: flex;
    flex-direction: column;
  }

  .bottom {
    position:absolute;
    bottom: 1.75vw;
  }

  .bottom-near {
    position: absolute;
    bottom: 1vw;
  }

  .top {
    position:absolute;
    top: 1.75vw;
  }

  .align-right {
    text-align: right;
  }

  .float-right {
    float: right;
  }

  .right {
    position:absolute;
    right: 0.5vw;
  }

  .text-medium{
    font-size: medium;
  }

  .text-small{
    font-size: small;
  }

  .tabulate{
    text-indent: 0.75vw;
  }

  .append{
    margin-left: +1.5vw;
  }

  .highlight{
    color: var(--highlight-color);
  }

  .button-highlight{
    background-color: var(--button-highlight-color);
  }

  .button-highlight:hover{
    background-color: var(--highlight-color);
  }

  .error-style{
    font-size: small;
    color:red;
  }