/* Variables */

:root {
    --darkest-color: #1f1d33;
    --middle-color: #31334b;
    --lightest-color: #7f91a3;
    --highlight-color: #ffc400;
    --button-highlight-color: #f4aa21;

    --link-color: #6f6fca;
    --link-visited-color: #8459a1;
    --link-hover-color: #438bb8;
}

body {
    background-color: var(--darkest-color);
    color: var(--lightest-color);
    font-family: "Noto Sans", "sans-serif";
    padding-left: 20px;
}

h1 {
    color: var(--highlight-color);
    margin-bottom: 0px;
}

h2 {
    margin-top: 0px;
    font-weight: normal;
}

input, select, textarea, button {
    background-color: var(--lightest-color);
    color: var(--darkest-color);
    border-radius: 6px;
    border-style: solid;
    border-color: var(--middle-color);
    margin: 5px;
}

button:hover {
    background-color: var(--link-hover-color);
}

::placeholder {
    color: var(--darkest-color);
    opacity: 0.7;
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--link-visited-color);
}

a:hover {
    color: var(--link-hover-color);
}

/* Scrollbar management */
::-webkit-scrollbar {
    width: 5px;
    height:5px;
  }
  ::-webkit-scrollbar-track {
    background: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--link-color);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--link-hover-color);
  }

  .small-box {
    position: fixed;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    border-style: solid;
    border-color: var(--lightest-color);
    border-radius: 10px;
    padding: 20px;
    background-color: var(--middle-color);
    box-shadow: -2px 2px 15px 5px #05011746;
  }

  .flex-down{
    display: flex;
    flex-direction: column;
  }

  .bottom {
    position:absolute;
    bottom: 30px;
  }

  .bottom-near {
    position: absolute;
    bottom: 10px;
  }

  .top {
    position:absolute;
    top: 30px;
  }

  .align-right {
    text-align: right;
  }

  .right {
    position:absolute;
    right: 10px;
  }

  .text-medium{
    font-size: medium;
  }

  .text-small{
    font-size: small;
  }

  .tabulate{
    text-indent: 15px;
  }

  .highlight{
    color: var(--highlight-color);
  }

  .button-highlight{
    background-color: var(--button-highlight-color);
  }

  .button-highlight:hover{
    background-color: var(--highlight-color);
  }

  .error-style{
    font-size: small;
    color:red;
  }